node_modules/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
.vscode/
.idea/
dist/
build/
*.log
*.sqlite3
*.egg-info/
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
*.iml
__init__.py
file
